<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width,initial-scale=0,maximum-scale=0,user-scalable=yes,shrink-to-fit=no">
  <title>lowcode2</title>
  <style>
      html,
      body {
          height: 100%;
          overflow: hidden;
          padding: 0;
          margin: 0;
      }
  </style>
</head>

<body>
<iframe id="frame" srcdoc='<!DOCTYPE html>
    <html>
    
    <body>
      <div id="testDemo" style="width:800px;height:200px;background-color:pink">
        aaaabbbbs
      </div>
      <button draggable="true" id="btn">drag me</button>
    
      <script>
        window.onload = function () {
    
          let dragged = null;
    
          const source = document.getElementById("btn");
          source.addEventListener("dragstart", (event) => {
            dragged = event.target;
          });
    
    
          const target = document.getElementById("testDemo");
          target.addEventListener("dragover", (event) => {
            event.preventDefault();
          });
    
          target.addEventListener("drop", (event) => {
            event.preventDefault();
            event.target.appendChild(dragged);
    
          });
        }
      </script>
    </body>
    
    </html>' width="100%" height="100%" frameborder="0" draggable="true" sandbox="allow-scripts"></iframe>

    <!-- <iframe id="frame" src='http://127.0.0.1:3000' width="100%" height="100%" frameborder="0" draggable="true" sandbox="allow-scripts"></iframe> -->

<script>

</script>
</body>

</html>
